@model _19T1021183.Web.Models.ProductSearchOutput
@{ Layout = null; }

<p>
    Có <strong>@Model.RowCount</strong> mặt hàng trong tổng số <strong>@Model.PageCount</strong> trang
</p>
<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead>

            <tr class="bg-primary">
                <th style="width:80px">Ảnh</th>
                <th>Tên mặt hàng</th>
                <th>Đơn vị tính</th>
                <th>Giá</th>
                <th style="width:75px">&nbsp;</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {

                <tr>
                    <td>
                        @if (item.Photo.Contains("http"))
                        {
                            <img style="width:70px;height:70px;border-radius:6px" src=" @item.Photo" alt="avatar" />
                        }
                        else
                        { <img style="width:70px;height:70px;border-radius:6px" src="~/Images/Products/@item.Photo" alt="avatar" />}
                    </td>
                    <td>@item.ProductName</td>
                    <td>@item.Unit</td>
                    <td>@item.Price</td>
                    <td class="text-right">
                        <a href="~/Product/Edit/@item.ProductID" class="btn btn-sm btn-primary" title="Sửa">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="~/Product/Delete/@item.ProductID" class="btn btn-sm btn-danger" title="Xoá">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<div class="text-center">
    <ul class="pagination">
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            if (i == Model.Page)
            {

                <li class="active"><a href="#">@i</a></li>
            }
            else
            {
                <li> <a href="javascript:;" onclick="doSearch(@i)">@i</a></li>
            }
        }
    </ul>
</div>